.What {
  display: grid;

  .nomer_1 {
    margin: 0 auto;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  img {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: end;
    border-radius: 10px;
  }
}

.txt {
  position: relative;

  h1 {
    font-family: Cormorant;
    font-size: 50px;
    font-weight: 700;
    line-height: 108px;
    text-align: left;

  }

  p {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;

  }
}

.text_slick {

  img {
    width: 750px;
    height: 500px;
  }
}

.nomer_2 {
  display: flex;
  width: 90%;
  max-width: 1580px;
  height: 400px;

}

.nomer_3 {
  width: 65%;
  max-width: 1560px;
  height: 300px;
}
.text_forum {
  font-family: Lato;
font-size: 20px;
padding: 80px 50px;
color: #313131;

}
.swiper {
  height: 300px;
}