.top {
    img {
        width: 136px;
        height: 136px;
        border-radius: 100px;
        margin: 0 auto;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #8c8c8c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
    color: green;
}


.dor {
    display: grid;
    row-gap: 50px;
    background: #14AE5C12;
    width: 637px;
    height: 369px;
    padding: 20px;
    border-radius: 30px;
    gap: 15px;
    margin: 0 auto;

}

.moni {
    padding: 10px;

    h1 {
        font-family: Cormorant;
        font-size: 33px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        justify-content: center;
    }
}

.mop {

    h1 {
        color: yellow;
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    span {
        color: gray;
    }
}

.lopl {
    h3 {
        display: flex;
        justify-content: center;
        font-family: Cormorant;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;

    }
}

.klan {
    p {
        display: flex;
        text-align: center;
        margin: 0 auto;
        width: 597px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
}

.slider-container {
    width: 80%;
    margin: 0 auto;
}

.cons {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    button {
        display: flex;
        padding: 15px 40px;
        display: flex;
        justify-content: center;
        border-radius: 300px;
        gap: 5px;
        align-items: center;
        background: #14AE5C;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #fff;

        span {
            font-size: 31px;
        }
    }
}