  #app {
    height: 100%;
  }

  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0 auto;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 500px;
    border-radius: 30px;
    max-width: 100%;
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    font-size: 23px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .drack_1 {
    background-image: url('../img/slid_1.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    max-width: 100%;

    .kopchik {
      display: flex;
      padding: 20px 50px;
      justify-content: space-between;
      width: 100%;
      color: white;

      @media screen and (max-width: 1400px) {
        flex-direction: column-reverse;
        display: flex;
        align-items: start;
      }

    }

    img {
      width: 150px;
      height: 150px;
    }

    button {
      background: #14AE5C;
      display: flex;
      gap: 10px;
      padding: 15px;
      font-size: 18px;
      color: white;
      border-radius: 300px;
      border: none;
      cursor: pointer;
      height: 50px;
      width: 200px;

      @media screen and (max-width: 1400px) {
        font-size: 18px;
        border: none;

      }

      @media screen and (max-width: 1200px) {
        font-size: 15px;
        border: none;

      }

      @media screen and (max-width: 1000px) {
        font-size: 13px;
        border: none;

      }

      @media screen and (max-width: 805px) {
        font-size: 12px;
        width: 60%;
        border: none;

      }
    }

    .top {
      display: grid;
      row-gap: 5px;

      @media screen and (max-width: 1400px) {
        font-size: 18px;
      }

      @media screen and (max-width: 1000px) {
        font-size: 15px;
      }

      @media screen and (max-width: 800px) {
        font-size: 13px;
      }

      @media screen and (max-width: 650px) {
        font-size: 10px;
      }

      @media screen and (max-width: 580px) {
        font-size: 8px;
      }

      h1 {
        color: rgb(247, 244, 244);
      }
    }
  }

  .drack_2 {
    background-image: url('../img/slid_2.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;

    // img {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

  }

  .drack_3 {
    background-image: url('../img/slid_3.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;

  }

  .drack_4 {
    background-image: url('../img/slid_4.jpg');
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;

  }

  .drack_5 {
    background-image: url('../img/slid_5.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;

  }

  .drack_6 {
    background-image: url('../img/slid_6.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: bottom;
  }

  .drack_7 {
    background-image: url('../img/slid_7.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;

  }

  .drack_8 {
    background-image: url('../img/slid_8.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;

  }

  .drack_9 {
    background-image: url('../img/slid_9.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-position: center;

  }

  .from {
    height: 500px;
    display: flex;

    img {
      width: 300px;
      height: 300px;

      @media screen and (max-width: 1600px) {
        width: 250px;
        height: 250px;
      }

      @media screen and (max-width: 1400px) {
        width: 200px;
        height: 200px;
      }

      @media screen and (max-width: 1000px) {
        width: 150px;
        height: 150px;
      }

      @media screen and (max-width: 800px) {
        width: 130px;
        height: 130px;
      }
    }

    .bot {
      img {
        display: flex;
        justify-content: center;
      }
    }
  }

  .tresh {
    display: grid;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }

    .teleg {
      width: 70px;
      position: relative;
      right: 10px;
      background: white;
    }
  }