.tour_text {
    display: grid;

    h1 {
        font-family: Cormorant;
        font-size: 55px;
        font-weight: 700;
        line-height: 80px;
    }

    p {
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        color: black;
    }
}