.blog_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.hich {
  position: relative;
  overflow: hidden;
}

.hich:hover .hop,
.hich:hover .hop1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.hop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  background-color: rgba(128, 128, 128, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hop {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0 0 18px 18px;
  color: white;
  display: flex;
}

.hop1 {
  padding: 10px;
  border-radius: 5px;
  color: white;

}

.forum {
  padding: 60px 0;

  h1 {
    font-family: Cormorant;
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.hop3 {
  display: grid;
  row-gap: 3px;

  h2 {
    width: 241px;
    height: 38px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  P {
    height: 14px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }

  h1 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    display: flex;
    gap: 5px;
  }
}

.im {
  img {
    width: 100%;
    height: 250px;
    border-radius: 15px;
  }
}

.coc {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  h1 {
    width: 204px;
    height: 64px;
    border-radius: 300px;
    background: #14AE5C;
    font-family: Montserrat;
    font-size: 18px;
    color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}